body {
    font-family: "EB Garamond";
    background-color: #e2e7d3;
    padding-left: 30px;
    margin: 0 auto;
    width: 60%;
}

a {
    font-style: italic;
    color: blue;
}

p {
    text-align: justify;
    font-size: 1.2rem;
}

ul {
    font-size: 1.2rem;
    text-align: justify;
}

h1 {
    border-bottom: 1px solid black;
}

h2 {
    border-bottom: 1px solid black;
}

.experiencia h3 + p {
    font-weight: bold;
}

.conteudo-left, .conteudo-right {
    display: inline-block;
    width: 49%;
    margin: 0 auto;
}
/* 
a:visited {
    font-style: italic;
    color: blue
} */